Config( 
    name: "Soul"
    hp: 1000,
    speed: 100.,
    sprint_speed: 200.,
    jump_height: 200.,
)
Shape(
    height: 1.,
    width: 0.4,
    weight: 10.,
)
Passive(
    doublejump: false,
    wallrun: false,
)
Abilities(
    
)