(
    mouse_bindings: {
        Right: Abil1,
        Left: Shoot,
        Middle: Command("ha-ha its my perfect win, L"),
    },
    keyboard_bindings: {
        S: Back,
        P: Command("sayto SinzAnn I know who you are, little gay"),
        E: Ult,
        Tab: ToggleInspector,
        LShift: Sprint,
        F: Abil3,
        D: Right,
        Q: Abil2,
        Space: Jump,
        W: Forward,
        T: Command("spawn soul dark 2"),
        A: Left,
    },
)