(
    mouse_bindings: {
        Right: Abil1,
        Middle: Command("ha-ha its my perfect win, L"),
        Left: Shoot,
    },
    keyboard_bindings: {
        A: Left,
        Tab: ToggleInspector,
        E: Ult,
        C: Command("watchme 5. 2. 0."),
        X: Command("watchme"),
        Space: Jump,
        D: Right,
        Q: Abil2,
        W: Forward,
        T: Command("spawn soul light"),
        F: Abil3,
        S: Back,
        P: Command("sayto SinzAnn I know who you are, little gay"),
        LShift: Sprint,
    },
)