Config( 

    window_resolution: (800, 600),
    fullscreen: false,
    vsync: false,
    fps_limit: 100,
    mouse_sensitivity: 1.4,
    fov: 1.9,

    key_bindings: {
        "W": Up,
        "A": Down,
        "S": Left,
        "D": Right,
    },
    gamepad_bindings: {}
    
)
