#This file is only for devs
Chars(
    Zero,
    Soul,
    Tamara
)
GameState(
    InGame
)
LoadScene(
    path: "assets/weapon/weapon.gltf#Scene0"
    position: 10.,5.,1.,
    scale: 1.,
    gizmo: true,
)
Config(
    hit-box-debug: true,
    tickrate: 66,
)
