Config( 

    window_size: (800, 600),
    fullscreen: false,
    mouse_sensitivity: 1.4,
    fov: 1.9,

    key_bindings: {
        "W": Up,
        "A": Down,
        "S": Left,
        "D": Right,
    },
    
)