(
    showray: false,
    sensitivity: 1.0,
    ray_color: Rgba(
        red: 0.0,
        green: 0.8862745,
        blue: 1.0,
        alpha: 1.0,
    ),
    debug_rapier: false,
    hp_bar_size: (
        150.0,
        19.5,
    ),
)