(
    should_render: false,
    time_to_place_shield: 42.0,
    time_to_get_shield: 2.0,
    sprint_duration: 2.0,
    shield_cd: 3.0,
    sprint_cd: 3.0,
    reload: 2.0,
    crosshair: (
        to_attack_duration: 0.6,
        to_idle_duration: 0.5,
        to_pointing_duration: 0.6,
    ),
    config: (
        character_name: "Zero",
        max_hp: 500.0,
        max_jump_height: 3.0,
        max_velocity: 15.0,
        weight: 2.0,
        acceleration: 1000.0,
        intersections_shape: (radius: 2.0, toi: 5.0, source_distance: 1.0),
        pointing_shape: (radius: 2.0, toi: 5.0, source_distance: 1.0),
        camera: (shake_ampl: 0.03, shake_rate: 15.0, roll_angle: 0.0, roll_in_time: 0.0, roll_out_time: 0.0),
    ),
)